@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.projects {
  background-color: $background-color;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include desktop {
      @include componentSpacing;
    }
  }

  &__title {
    @include mSubheader;
    border-bottom: 0.125rem solid $primary-cta-color;
    width: 100%;

    @include desktop {
      @include Subheader;
      padding: 1rem 0;
      margin-top: 36px;
      margin-bottom: 0;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__block {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem 1rem;
    padding: 1rem 0;
    width: 100%;

    @include desktop {
      width: 30%;
      border: 2px solid $alt-background-color;
      padding: 1rem;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
     justify-content: space-between;
    }
  }
  &__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin: 0;
  }
  &__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 21.875rem;
  }
  &__image {
    width: 100%;
    height: 220px;
    border-radius: 4px;
    padding: 1rem;
    object-fit: contain;
    // overflow: hidden;
    // background-position: top;
  }
  &__video {
    height: 200px;
    width: 350px;
    border-radius: 4px;
  }
  &__name {
    @include BodyLarge;
    font-weight: 600;
    color: $secondary-cta-color;
    margin-bottom: 0;
  }
  &__subtitle {
    @include BodySmall;
    margin-top: 0.25rem;
    font-style: italic;
  }
  &__description {
    @include BodySmall;
    margin-bottom: auto;
  }
  &__btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0;
    width: 100%;
  }
  &__details-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
  &__stack {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &__link {
    @include Buttons;
    color: $primary-cta-color;
    background-color: transparent;
    border: none;
    text-align: center;
    align-self: center;
    width: 30%;
    font-size: 14px;

    &:hover {
      color: white;
    }
  }
}
