// primary colors
$primary-text-color: #323232; //portfolio black
$primary-cta-color: #e87121; //portfolio-orange
$alt-text-color: #AFAFAF; //silver
$background-color: #FFFFFF; //white

// secondary colors
$shadow-color: #3232322a; //portfolio black
$secondary-color: #000000; //portfolio-darkblack
$hover-cta-color: #344e41; //portfolio-brunswick green
$alt-background-color: #FAFAFA; //alabaster
