@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  background-image: url("../../assets/images/background.jpg");
  background-position: center;
  background-size: cover;
  height: 640px;

  &__container {
    @include componentSpacing;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    height: 100%;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
    margin: 5rem 0;
  }
  &__title-1 {
    @include mHeader;
    margin: 0;
    padding: 1rem 0;
    font-weight: 600;
  }
  &__title-2 {
    @include Header;
    margin: 0;
    padding: 2rem 0;
    color: $secondary-cta-color;
    font-weight: 600;
  }
  &__title-3 {
    @include mSubheader;
    font-weight: 600;
    margin: 0;
    padding: 1rem 0;
    color: $primary-cta-color;
  }
  
  &__links-wrapper {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    gap: 2rem;
  }
  &__logo {
    height: 3rem;
  }
  &__image-container {
    display: flex;
    align-items: flex-end;
  }
  &__image {
    width: 100%;
    object-fit: cover;
    background-size: contain;
    height: 600px;
    border-radius: 0.625rem;
  }
}
