@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  background-image: url("../../assets/images/background.jpg");
  background-position: center;
  background-size: cover;
  &__container {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    @include tablet {
      margin: 0 6rem;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    @include desktop {
      @include componentSpacing;
      height: 100%;
    }
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
     align-items: flex-start;
     padding-left: 2rem;
     padding-bottom: 1rem;
     width: 50%;
    }

    @include desktop {
      padding: 4.5rem 0;
      padding-left: 4.75rem;
      margin: 4.5rem 0;
    }
  }
  
  &__title {
    @include mHeader;
    color: $secondary-cta-color;
    font-weight: 600;
    margin: 2rem 0;
    @include desktop {
      @include Header;
      color: $secondary-cta-color;
      margin: 0;
      padding: 2rem 0;
      font-size: 67px;
    }
  }
  &__subtitle{
    @include mSubheader;
    font-weight: 600;
    margin: 0;
    color: $primary-cta-color;
    text-align: center;
    @include tablet {
      text-align: start;
      padding-bottom: 2rem;
    }
    @include desktop {
      @include Subheader;
      font-weight: 600;
      margin: 0;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 2rem;
      color: $primary-cta-color;
    }
  }
  &__image-container {
    display: flex;
    align-items: flex-end;
  }
  &__image {
    width: 300px;
    object-fit: cover;
    background-size: contain;
    border-radius: 0.625rem;
    margin: 0 auto;
    padding-top: 1rem;

    @include tablet {
      padding-top: 2rem;
      width: 300px;
    }
    @include desktop {
      width: 500px;
      margin: 0;
    }
  }
}
