@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.header {
    background-color: $primary-text-color;

  &__container {
    @include componentSpacing;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
  }
  &__logo {
    height: 5rem;
    padding: 1rem 0;
  }
  &__title {
    @include Header;
  }
  &__nav-wrapper {
    width: 35%;
  }
}
